@charset "UTF-8";

body {
    background-color: #12503c;
}

p {
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 3em;   
}